.matches-heading
{
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.button-refresh
{
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.Bucaneros
{
    background-color: #d43f3a;
    color: #ffffff;
}

.team-color-animation
{
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.team-color-animation.Bucaneros-add
{
    -webkit-animation:1.0s Bucaneros-on;
    -moz-animation:1.0s Bucaneros-on;
    -o-animation:1.0s Bucaneros-on;
    animation:1.0s Bucaneros-on;
}
.team-color-animation.Bucaneros-remove
{
    -webkit-animation:1.0s Bucaneros-off;
    -moz-animation:1.0s Bucaneros-off;
    -o-animation:1.0s Bucaneros-off;
    animation:1.0s Bucaneros-off;
}

@-webkit-keyframes Bucaneros-on
{
    from
    {
        background-color: #f8f8f8;
        color: #000000;
    }
    to
    {
        background-color: #d43f3a;
        color: #ffffff;
    }
}

@-webkit-keyframes Bucaneros-off
{
    from
    {
        background-color: #d43f3a;
        color: #ffffff;
    }
    to
    {
        background-color: #f8f8f8;
        color: #000000;
    }
}


.Corsarios
{
    background-color: #2a6496;
    color: #ffffff;
}

.team-color-animation.Corsarios-add
{
    -webkit-animation:1.0s Corsarios-on;
    -moz-animation:1.0s Corsarios-on;
    -o-animation:1.0s Corsarios-on;
    animation:1.0s Corsarios-on;
}

.team-color-animation.Corsarios-remove
{
    -webkit-animation:1.0s Corsarios-off;
    -moz-animation:1.0s Corsarios-off;
    -o-animation:1.0s Corsarios-off;
    animation:1.0s Corsarios-off;
}

@keyframes Corsarios-on {
    from
    {
        background-color: #f8f8f8;
        color: #000000;
    }
    to
    {
        background-color: #2a6496;
        color: #ffffff;
    }
}

@keyframes Corsarios-off {
    from
    {
        background-color: #2a6496;
        color: #ffffff;
    }
    to
    {
        background-color: #f8f8f8;
        color: #000000;
    }
}


.Filibusteros
{
    background-color: #222222;
    color: #ffffff;
}
.team-color-animation.Filibusteros-add
{
    -webkit-animation:1.0s Filibusteros-on;
    -moz-animation:1.0s Filibusteros-on;
    -o-animation:1.0s Filibusteros-on;
    animation:1.0s Filibusteros-on;
}

.team-color-animation.Filibusteros-remove
{
    -webkit-animation:1.0s Filibusteros-off;
    -moz-animation:1.0s Filibusteros-off;
    -o-animation:1.0s Filibusteros-off;
    animation:1.0s Filibusteros-off;
}

@keyframes Filibusteros-on
{
    from
    {
        background-color: #f8f8f8;
        color: #000000;
    }
    to
    {
        background-color: #222222;
        color: #ffffff;
    }
}

@keyframes Filibusteros-off
{
    from
    {
        background-color: #222222;
        color: #ffffff;
    }
    to
    {
        background-color: #f8f8f8;
        color: #000000;
    }
}


.Cosacos
{
    background-color: #ffffff;
    color: #000000;
}

.team-color-animation.Cosacos-add
{
    -webkit-animation:1.0s Cosacos-on;
    -moz-animation:1.0s Cosacos-on;
    -o-animation:1.0s Cosacos-on;
    animation:1.0s Cosacos-on;
}

.team-color-animation.Cosacos-remove
{
    -webkit-animation:1.0s Cosacos-off;
    -moz-animation:1.0s Cosacos-off;
    -o-animation:1.0s Cosacos-off;
    animation:1.0s Cosacos-off;
}

@keyframes Cosacos-on {
    from
    {
        background-color: #f8f8f8;
        color: #000000;
    }
    to
    {
        background-color: #ffffff;
        color: #000000;
    }
}

@keyframes Cosacos-off {
    from
    {
        background-color: #ffffff;
        color: #000000;
    }
    to
    {
        background-color: #f8f8f8;
        color: #000000;
    }
}


.Equipo-A
{
    background-color: #ffb3d4;
    color: #000000;
}

.team-color-animation.Equipo-A-add
{
    -webkit-animation:1.0s Equipo-A-on;
    -moz-animation:1.0s Equipo-A-on;
    -o-animation:1.0s Equipo-A-on;
    animation:1.0s Equipo-A-on;
}

.team-color-animation.Equipo-A-remove
{
    -webkit-animation:1.0s Equipo-A-off;
    -moz-animation:1.0s Equipo-A-off;
    -o-animation:1.0s Equipo-A-off;
    animation:1.0s Equipo-A-off;
}

@keyframes Equipo-A-on {
    from
    {
        background-color: #f8f8f8;
        color: #000000;
    }
    to
    {
        background-color: #ffb3d4;
        color: #000000;
    }
}

@keyframes Equipo-A-off {
    from
    {
        background-color: #ffb3d4;
        color: #000000;
    }
    to
    {
        background-color: #f8f8f8;
        color: #000000;
    }
}

.Equipo-B
{
    background-color: #fffe12;
    color: #000000;
}

.team-color-animation.Equipo-B-add
{
    -webkit-animation:1.0s Equipo-B-on;
    -moz-animation:1.0s Equipo-B-on;
    -o-animation:1.0s Equipo-B-on;
    animation:1.0s Equipo-B-on;
}

.team-color-animation.Equipo-B-remove
{
    -webkit-animation:1.0s Equipo-B-off;
    -moz-animation:1.0s Equipo-B-off;
    -o-animation:1.0s Equipo-B-off;
    animation:1.0s Equipo-B-off;
}

@keyframes Equipo-B-on {
    from
    {
        background-color: #f8f8f8;
        color: #000000;
    }
    to
    {
        background-color: #fffe12;
        color: #000000;
    }
}

@keyframes Equipo-B-off {
    from
    {
        background-color: #fffe12;
        color: #000000;
    }
    to
    {
        background-color: #f8f8f8;
        color: #000000;
    }
}


.neutral,
.allsquare
 {
     background-color: #f8f8f8;
     color: #000000;
 }

.scorerpanel
{
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    box-shadow: 3px 3px 3px #888888;
    margin-bottom: 4px;
    margin-top: 4px;
    white-space: nowrap;
    overflow-x: hidden;
}

.nowrap
{
    white-space: nowrap;
    overflow-x: hidden;
}

.holemobile
{
    padding-bottom: 10px;
    padding-top: 10px;
}

@media (max-width: 767px)
{
    .scorerpanel
    {
        font-weight: normal;
    }
}

.galaxia-background
{
    /*background-color: oldlace;*/
}


.my-repeat-animation.ng-enter
{
    -webkit-animation: bounceInLeft 1s;
    -moz-animation: bounceInLeft 1s;
    -ms-animation: bounceInLeft 1s;
    animation: bounceInLeft 1s;
}

.my-repeat-animation.ng-move
{
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}


.my-repeat-animation.ng-leave
{
    -webkit-animation: bounceOutRight 1s;
    -moz-animation: bounceOutRight 1s;
    -ms-animation: bounceOutRight 1s;
    animation: bounceOutRight 1s;

}

.score-update-animation.ng-hide-add
{
    -webkit-animation: flipOutX 2s;
    -moz-animation: flipOutX 2s;
    -ms-animation: flipOutX 2s;
    animation: flipOutX 2s;
}
.score-update-animation.ng-hide-remove
{
    -webkit-animation: flipInX 2s;
    -moz-animation: flipInX 2s;
    -ms-animation: flipInX 2s;
    animation: flipInX 2s;
}

/* refresh button rotation */
@-webkit-keyframes rotating
{
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating
{
    -webkit-animation: rotating 2s linear infinite;
}

.navbar.background-white
{
    background: #ffffff;
}