<div class="container-fluid" ng-init="initModel()" xmlns="http://www.w3.org/1999/html">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <form class="navbar-form pull-left form-inline">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="oneAtATime">Un solo grupo visible
                    </label>
                    <button class="btn btn-small" type="button" ng-click="reloadResults()">Refrescar</button>
                </form>
                <form class="navbar-search pull-right">
                    <input type="text" class="search-query" placeholder="Filtro por nick" ng-model="playerFilter"
                           typeahead="player for player in playerList | filter:$viewValue">
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="margin-top: 40px">
        <accordion id="allgroups" close-others="oneAtATime">
            <div class="row-fluid" ng-repeat="group in groups | filter:playerFilter">
                <accordion-group id="matchgroup" heading="#{{group.number}}: {{getGroupHeading(group.number-1)}}">
                    <form class="form-inline" id="formgroup" ng-submit="submitSingleGroup(group)">
                        <div id="match" ng-repeat="match in group.matches">
                            <div class="row-fluid">
                                <div class="input-append">
                                    <input class="span2 text-center numeric integer" type="text" ng-model="match.result.h" ng-readonly="true">
                                    <button class="btn" ng-click="updateHole(match, -1)">-</button>
                                    <button class="btn" ng-click="updateHole(match, 1)">+</button>
                                </div>
                            </div>
                            <p>
                            <div class="row-fluid">
                                <div class="span12 input-append">
                                    <input class="text-center uneditable-input" type="text" ng-model="getScoreText(match.leftPlayer, match.rightPlayer, match.result.r, match.result.h).text">
                                    <span class="btn text-center" ng-click="updateMatch(match, -1)">{{match.leftPlayer}}++</span>
                                    <span class="btn text-center" ng-click="updateMatch(match, 1)">{{match.rightPlayer}}++</span>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <span class="alert-success" ng-show="getScoreText(match.leftPlayer, match.rightPlayer, match.result.r, match.result.h).finished">Finalizado!</span>
                            </div>
                            <hr>
                        </div>
                        <button class="active" ng-click="sendResult(group.number)">Enviar!</button>
                    </form>
                </accordion-group>
            </div>
        </accordion>
    </div>

    <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container-fluid">
                <alert type="lastMessage.type">{{lastMessage.text}}</alert>
                {{projectedResult()}} {{finalResult()}}
            </div>
        </div>
    </div>
</div>