
<div ng-init="initApp()" xmlns="http://www.w3.org/1999/html">
  <div class="container"><br/>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Selección de torneo</h3>
      </div>
      <div class="panel-body">
        <form id="tournament-form" role="form" ng-submit="playTournament(passKey)">
          <label for="passkey">Palabra clave:</label>
          <input id="passkey" placeholder="palabra clave" type="text" autofocus="true" ng-model="passKey" ng-change="passkeyChange(passKey)" class="form-control"/><br/>
          <div class="row">
            <div class="col-xs-12 col-sm-3">
              <button id="btn-send" type="submit" ng-disabled="!searchTournamentEnabled" data-loading-text="Buscando..." data-found-text="OK!" data-error-text="ERROR :-(" class="btn btn-primary center-block">Introducir resultados</button>
              <div class="visible-xs"><br/></div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <button id="btn-edit" type="button" ng-click="editTournament(passKey, $event)" ng-disabled="!searchTournamentEnabled" data-loading-text="Buscando..." data-found-text="OK!" data-error-text="ERROR :-(" class="btn btn-danger center-block">Editar partidas del torneo</button>
              <div class="visible-xs"><br/></div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <button id="btn-new" type="button" ng-click="newTournament()" class="btn btn-info center-block">Crear torneo</button>
            </div>
          </div>
        </form><br/>
        <div collapse="!alertVisible">
          <alert id="alertPanel" type="lastMessage.type" close="alertVisible=false">{{lastMessage.text}}</alert>
        </div>
      </div>
    </div>
  </div>
</div>